# Slack Bot Token (xoxb-...)
APP_HELPER_SLACK_BOT_TOKEN=xoxb-your-bot-token

# Slack App-Level Token (xapp-...)
APP_HELPER_SLACK_APP_TOKEN=xapp-your-app-token

# Slack Channel IDs to monitor
APP_HELPER_SLACK_CHANNEL_IDS=C0123456789|C0123456789

# Application Source
APP_HELPER_APP_SRC=$HOME/git-repo
